<span>{{ succes }}</span>
<span class="text-red">{{ erreurs.mise_valeur }}</span>

<section class="encheres">

	<details class="filtre-responsive">
		<summary>Filtres de recherche</summary>
		<aside class="filtre ">

			<form action="get">
				<h1>Recherche:</h1>
				<div class="recherche">
					<input type="search" placeholder="mots-clés" class="search-field">
					<button aria-label="submit" type="submit" class="magnifyer-btn">
						<img src="assets/images/icones/magnifyer-blue.svg" alt="bouton recherche">
					</button>
				</div>
				<div class="annee-prix">
					<h1>Année:</h1>
					<div>
						<label for="annee-min">De:
						</label>
						<input type="text" name="annee-min" id="annee-min-resp" placeholder="$">
					</div>
					<div>
						<label for="annee-max">à:
						</label>
						<input type="text" name="annee-max" id="annee-max-resp" placeholder="$">
					</div>
				</div>
				<div class="annee-prix">
					<h1>Prix:</h1>
					<div>
						<label for="prix-min">De:
						</label>
						<input type="text" name="prix-min" id="prix-min-resp" placeholder="$">
					</div>
					<div>
						<label for="prix-max">à:
						</label>
						<input type="text" name="prix-max" id="prix-max-resp" placeholder="$">
					</div>
				</div>
				<div class="region">
					<h1>Région:</h1>

					<label class="container">Royaume-Uni
						<input type="checkbox" checked="checked">
					</label>

					<label class="container">Afrique
						<input type="checkbox">
					</label>

					<label class="container">Asie
						<input type="checkbox">
					</label>

					<label class="container">Caraïbe
						<input type="checkbox">
					</label>
					<label class="container">Europe
						<input type="checkbox">
					</label>
					<label class="container">Moyen-Orient
						<input type="checkbox">
					</label>
					<label class="container">Amérique-du-Nord
						<input type="checkbox">
					</label>
					<label class="container">Australie et Pacifique
						<input type="checkbox">
					</label>
					<label class="container">Îles Atlantique-Sud
						<input type="checkbox">
					</label>
					<label class="container">Autres régions
						<input type="checkbox">
					</label>
				</div>
				<div>
					<h1>Condition:</h1>
					<label class="container">Menthe
						<input type="checkbox">
					</label>
					<label class="container">Inutilisé
						<input type="checkbox">
					</label>
					<label class="container">Utilisé
						<input type="checkbox">
					</label>
				</div>
				<div class="favoris">
					<h1>
						Les favoris du Lord:
					</h1>
					<label for="autres-resp" class="container">Je désire voir les favoris du Lord
						<input type="checkbox" name="autres" id="autres-resp">
					</label>

				</div>
				<div>
					<h1>
						Timbres affichés:
					</h1>
					<input type="radio" id="6timbre-resp" name="nb-display" value="6">
					<label for="6timbre-resp">6</label>
					<input type="radio" id="12timbre-resp" name="nb-display" value="12">
					<label for="12timbre-resp">12</label>
					<input type="radio" id="24timbre-resp" name="nb-display" value="24">
					<label for="24timbre-resp">24</label>
					<input type="radio" id="48timbre-resp" name="nb-display" value="48">
					<label for="48timbre-resp">48</label>
				</div>
				<button type="submit" class="btn">Rechercher</button>

			</form>
		</aside>
	</details>


	<aside class="filtre hidden">

		<form action="get">
			<h1>Recherche:</h1>
			<div class="recherche">
				<input type="search" placeholder="mots-clés" class="search-field">
				<button aria-label="submit" type="submit" class="magnifyer-btn">
					<img src="assets/images/icones/magnifyer-blue.svg" alt="bouton recherche">
				</button>
			</div>
			<div class="annee-prix">
				<h1>Année:</h1>
				<div>
					<label for="annee-min">De:
					</label>
					<input type="text" name="annee-min" id="annee-min" placeholder="$">
				</div>
				<div>
					<label for="annee-max">à:
					</label>
					<input type="text" name="annee-max" id="annee-max" placeholder="$">
				</div>
			</div>
			<div class="annee-prix">
				<h1>Prix:</h1>
				<div>
					<label for="prix-min">De:
					</label>
					<input type="text" name="prix-min" id="prix-min" placeholder="$">
				</div>
				<div>
					<label for="prix-max">à:
					</label>
					<input type="text" name="prix-max" id="prix-max" placeholder="$">
				</div>
			</div>
			<div class="region">
				<h1>Région:</h1>

				<label class="container">Royaume-Uni
					<input type="checkbox" checked="checked">
				</label>

				<label class="container">Afrique
					<input type="checkbox">
				</label>

				<label class="container">Asie
					<input type="checkbox">
				</label>

				<label class="container">Caraïbe
					<input type="checkbox">
				</label>
				<label class="container">Europe
					<input type="checkbox">
				</label>
				<label class="container">Moyen-Orient
					<input type="checkbox">
				</label>
				<label class="container">Amérique-du-Nord
					<input type="checkbox">
				</label>
				<label class="container">Australie et Pacifique
					<input type="checkbox">
				</label>
				<label class="container">Îles Atlantique-Sud
					<input type="checkbox">
				</label>
				<label class="container">Autres régions
					<input type="checkbox">
				</label>
			</div>
			<div>
				<h1>Condition:</h1>
				<label class="container">Menthe
					<input type="checkbox">
				</label>
				<label class="container">Inutilisé
					<input type="checkbox">
				</label>
				<label class="container">Utilisé
					<input type="checkbox">
				</label>
			</div>
			<div class="favoris">
				<h1>
					Les favoris du Lord:
				</h1>
				<label for="autres" class="container">Je désire voir les favoris du Lord
					<input type="checkbox" name="autres" id="autres">
				</label>

			</div>
			<div>
				<h1>
					Timbres affichés:
				</h1>
				<input type="radio" id="6timbre" name="nb-display" value="6">
				<label for="6timbre">6</label>
				<input type="radio" id="12timbre" name="nb-display" value="12">
				<label for="12timbre">12</label>
				<input type="radio" id="24timbre" name="nb-display" value="24">
				<label for="24timbre">24</label>
				<input type="radio" id="48timbre" name="nb-display" value="48">
				<label for="48timbre">48</label>
			</div>
			<button type="submit" class="btn">Rechercher</button>

		</form>
	</aside>
	
	<div class="grid-encheres">
		{% for enchere in encheres %}

			<article class="card">
				<picture>
					<img src="{{ enchere.image_lien }}" alt=" {{ enchere.image_nom }} ">
				</picture>
				<a href="fiche?enchere_id={{ enchere.enchere_id }}">
					<h1>{{ enchere.timbre_nom }}</h1>
				</a>
				<hr>
				<small class="temps">
					<span>Temps Restant:
					</span>
					<span>{{ enchere.enchere_date_fin }}</span>
				</small>
				<form  method="POST" action="admin?entite=mise&action=a">
					<div class="mise">
						<div class="depart-actuel">
							<small>Départ:
								{{ enchere.enchere_prix_base }}$</small>
							<small>Actuel:
								<span class="text-red">{{ enchere.mise_valeur}}$</span>
							</small>
						</div>
						<input type="hidden" name="enchere_id" value="{{ enchere.enchere_id }}">
						<input type="hidden" name="utilisateur_id" value="{{ session.oUtilisateur.utilisateur_id }}">
						<input type="number" name="mise_valeur" placeholder="$">
						{# value="{{ mise.mise_valeur }} #}
					</div>
					
					{% if session.oUtilisateur is defined %}
					<input type="submit" class="btn" value="Miser">
					{% endif %}
					{% if session.oUtilisateur is null %}
					<a class="connect-enchere" href="connexion">Connectez-vous pour miser >></a>
					{% endif %}
				</form>
			</article>
		{% endfor %}


	</section>

	<section class="abonnez-vous">
		<article class="boite-action">
			<h1>Abonnez-vous à notre infolettre</h1>
			<p>Restez à l’affut des enchères les plus récente et de l’arrivé de timbres rares et d’exceptions</p>
			<form action="post" class="btns-box-abonnement">
				<input type="email" placeholder="Entrez votre courriel">
				<button class="btn-big">S'abonner</button>
			</form>
		</article>
	</section>
