<section class="modification">
	<h1>{{ titre|upper }}</h1>

	<form method="POST" action="admin?entite=timbre&action=m">

		<label>Nom</label>
		<input name="timbre_nom" value="{{ timbre|first.timbre_nom }}">
		<span>&nbsp;{{ erreurs.timbre_nom }}</span>

		<label>Pays</label>
		<select name="timbre_pays_id">
			{% for unPays in pays  %}
				{% if unPays.pays_id == timbre|first.pays_id %}
					<option selected value="{{ unPays.pays_id }}">{{ unPays.pays_nom }}</option>
				{% else %}
					<option value="{{ unPays.pays_id }}">{{ unPays.pays_nom }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<span class="text-red">{{ erreurs.timbre_pays_id }}</span>

		<label>Année</label>
		<input type="text" name="timbre_annee" value="{{ timbre|first.timbre_annee }}">
		<span class="text-red">{{ erreurs.timbre_annee}}</span>

		<label>Description</label>
		<textarea rows="4" cols="50" name="timbre_description">{{ timbre|first.timbre_description }}</textarea>
		<span class="text-red">{{ erreurs.timbre_description }}</span>

		<label>Histoire</label>
		<textarea rows="4" cols="50" name="timbre_histoire">{{ timbre|first.timbre_histoire }}</textarea>
		<span class="text-red">{{ erreurs.timbre_histoire }}</span>

		<label>Dimension</label>
		<input type="text" name="timbre_dimension" value="{{ timbre|first.timbre_dimension }}">
		<span class="text-red">{{ erreurs.timbre_dimension }}</span>

		<input class="btn" type="submit" value="Envoyer">

	</form>
</section>
