<script>
	history.pushState({}, '', 'admin?entite=utilisateur')
</script>
<section class="profile">
	<h1>{{ titre|upper }}</h1>

	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction|raw }}&nbsp;</p>

	<p>Nom:
		{{ oUtilisateur.utilisateur_nom}}</p>
	<p>Prénom:
		{{ oUtilisateur.utilisateur_prenom}}</p>
	<p>Courriel:
		{{ oUtilisateur.utilisateur_courriel}}</p>
	<a href="admin?entite=utilisateur&action=m">Modifier mon profile >></a>
	<a href="admin?entite=utilisateur&action=s">Supprimer mon profile >></a>

	<h2>Ajouter un timbre</h2>
	<form method="POST" action="admin?entite=timbre&action=a">
		<span>{{ succes }}</span>
		<div>
			<div>
				<label>Nom</label>
				<input type="text" name="timbre_nom" value="{{ timbre.timbre_nom }}">
				<span class="text-red">{{ erreurs.timbre_nom }}</span>

				<label>Pays</label>
				<select name="timbre_pays_id">
					{% for unPays in pays  %}
						<option value="{{ unPays.pays_id }}">{{ unPays.pays_nom }}</option>
					{% endfor %}
				</select>
				<span class="text-red">{{ erreurs.timbre_pays_id }}</span>

				<label>Année</label>
				<input type="text" name="timbre_annee" value="{{ timbre.timbre_annee }}">
				<span class="text-red">{{ erreurs.timbre_annee}}</span>

				<label>Description</label>
				<textarea rows="4" cols="50" name="timbre_description"></textarea>
				<span class="text-red">{{ erreurs.timbre_description }}</span>

				<label>Histoire</label>
				<textarea rows="4" cols="50" name="timbre_histoire" value="{{ timbre.timbre_histoire }}"></textarea>
				<span class="text-red">{{ erreurs.timbre_histoire }}</span>
			</div>
			<div>
				<label>Dimension</label>
				<input type="text" name="timbre_dimension" value="{{ timbre.timbre_dimension }}">
				<span class="text-red">{{ erreurs.timbre_dimension }}</span>

				<label>Certification</label>
				<div class="certification">
					<input type="radio" id="1" name="timbre_certification" value="1" checked>
					<label for="1">oui</label>
					<input type="radio" id="2" name="timbre_certification" value="2">
					<label for="2">non</label>
				</div>
				<span class="text-red">{{ erreurs.timbre_certification }}</span>

				<label>Couleur</label>
				<input type="text" name="timbre_couleur" value="{{ timbre.timbre_couleur }}">
				<span class="text-red">{{ erreurs.timbre_couleur }}</span>

				<label>Tirage</label>
				<input type="text" name="timbre_tirage" value="{{ timbre.timbre_tirage }}">
				<span class="text-red">{{ erreurs.timbre_tirage }}</span>

				<label>Condition</label>
				<select name="timbre_condition_id">
					{% for uneCondition in condition %}
						<option value="{{ uneCondition.condition_id }}">{{ uneCondition.condition_name }}</option>
					{% endfor %}
				</select>
				<span class="text-red">{{ erreurs.timbre_condition_id }}</span>

				<label>Status</label>
				<select name="timbre_status_id">
					{% for unStatus in status %}
						<option value="{{ unStatus.status_id }}">{{ unStatus.status_name }}</option>
					{% endfor %}
				</select>
				<span class="text-red">{{ erreurs.timbre_status_id }}</span>

				<input type="hidden" name="timbre_utilisateur_id" value="{{ oUtilisateur.utilisateur_id }}">
			</div>
		</div>
		<input class="btn" type="submit" value="Soumettre">

	</form>
	<h2>Ajouter une image</h2>
	<span>{{ ajouterImage }}</span>
	<form enctype="multipart/form-data" action="traitement" method="POST">

		<label>Nom de l'image:</label>
		<input name="image_nom" type="text" value=" {{ image.image_nom }}">
		<span class="text-red">{{ erreurs.image_nom }}</span>
		<label>Choisir le timbre associé</label>
		<select name="image_timbre_id">
			{% for timbre in listeTimbreById %}
				<option value="{{ timbre.timbre_id }}">{{ timbre.timbre_nom }}</option>
			{% endfor %}
		</select>
		<span class="text-red">{{ erreurs.image_timbre_id }}</span>
		<!-- Name of input element determines name in $_FILES array -->
		<label>Enregistrer cette image:</label>
			<span class="text-red">{{ erreurImage }}</span>
		<input name="userfile" type="file"/>
		<span class="text-red">{{ erreurs.image_lien }}</span>
		<input class="btn" type="submit" value="Ajouter"/>
	</form>
	<h2>Ajouter une enchère</h2>
	<span>{{ ajouter }}</span>
	<form action="admin?entite=enchere&action=a" method="POST">
		<label>Choisissez le timbre à mettre en enchère</label>
		<select name="enchere_timbre_id">
			{% for timbre in listeTimbreById  %}
				<option value="{{ timbre.timbre_id }}">{{ timbre.timbre_nom }}</option>
			{% endfor %}
		</select>
		<span class="text-red">{{ erreurs.timbre_pays_id }}</span>

		<label>Choisissez le prix de base</label>
		<input type="number" name="enchere_prix_base" placeholder="ex: 60$">
		<span class="text-red">{{ erreurs.enchere_prix_base }}</span>

		<label>Choisissez la fin de votre enchère</label>
		<input type="datetime-local" name="enchere_date_fin">
		<span class="text-red">{{ erreurs.enchere_date_id }}</span>

		<input type="hidden" name="enchere_utilisateur_id" value="{{ oUtilisateur.utilisateur_id }}">

		<input class="btn" type="submit" value="Ajouter"/>

	</form>
</section>
{{ include("modaleSuppression.twig") }}
