<section class="mes-timbres">
	<h1>{{ titre }}</h1>
	<div class="g timbres">
		<div class="t">Id</div>
		<div class="t">Nom</div>
		<div class="t">Début</div>
		<div class="t">Fin</div>
		<div class="t">Status</div>
		<div class="t">Actions</div>
		{% for enchere in encheres %}
			<div class="l">
				<div class="c dr">{{ enchere.enchere_id }}</div>
				<div class="c   ">{{ enchere.timbre_nom }}</div>
				<div class="c   ">{{ enchere.enchere_date_debut }}</div>
				<div class="c   ">{{ enchere.enchere_date_fin }}</div>
				<div class="c   ">
					{% if enchere.timbre_status_id == 1 %}
						actif
					{% endif %}

					{% if enchere.timbre_status_id == 2 %}
						inactif
					{% endif %}

					{% if enchere.timbre_status_id == 3 %}
						archivé
					{% endif %}
				</div>
				<div class="c   ">
					{% if enchere.timbre_status_id == 3 or enchere.timbre_status_id == 2 %}
					<a class="supprimer" href="admin?entite=enchere&action=s&enchere_id={{ enchere.enchere_id }}">supprimer</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
